<header>
    <nav class="menu">
        <ul>
            <li><a href="{{ path('category') }}">Accueil</a></li>
            <li><a href="{{ path('category') }}">Catégories</a></li>
            <li><a href="{{ path('product') }}">Produits</a></li>
        </ul>
    </nav>
</header>